* {
    box-sizing: border-box;
    margin: 0px;
}

/* HEADER */

.app-header{

  background-color: transparent;
    color: aliceblue;
    padding: 40px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.app-main {
    background-color: rgb(225, 234, 238);
    min-height: 90vh;
}

.logo{
    color: rgb(224, 200, 62);
}
/* APP */



/* FILTER */



/* LIST */



/* FOOTER */

footer {
    background-color: transparent;
    padding: 10px;
}