* {
    box-sizing: border-box;
    margin: 0px;
}

/* HEADER */

.app-header{

  background-color: rgb(35, 37, 65);
    color: aliceblue;
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.app-main {
    background-color: lightblue;
    min-height: 90vh;
}

/* APP */



/* FILTER */



/* LIST */



/* FOOTER */

footer {
    background-color: lightgreen;
    padding: 10px;
}