* {
    box-sizing: border-box;
    margin: 0px;
}


/* HEADER */

.home {
    background-color: rgb(35, 37, 65);
    color: aliceblue;
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* APP */


/* FILTER */


/* LIST */