/* PREVIEW */

.email-preview-container {
    min-width: 700px;
    min-height: 100px;
    border: 1px solid rgb(238, 127, 127);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    border-radius: 4px;
}

.star-fill {
    content: '★';
    /* ⭐ */
}

.star-un-fill {
    /* content: '★'; */
    content: '☆';
}


/* content: '☆'; */