@import "/css/apps/email/pages/email-compose.cmp.css";
@import "/css/apps/email/cmps/‏‏email-list.cmp.css";

/* @import "/css/apps/email/cmps/side-nav.cmp.css"; */


/* PREVIEW */

.email-preview-container {
    max-width: 900px;
    min-height: 50px;
    border: 3px solid rgb(27, 17, 17);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    border-radius: 4px;
    cursor: pointer;
}

.email-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*unread emails*/

.bold {
    font-weight: 700;
}


/*read emails*/

.unBold {
    font-weight: 200;
}


/* .star {
    cursor: pointer;
} */

.star-fill {
    content: '⭐';
    cursor: pointer;
    /*  ★*/
}

.star-un-fill {
    /* content: '★'; */
    content: '☆';
    cursor: pointer;
}


/* content: '☆'; */