/* PREVIEW */

.email-preview-container {
    min-width: 700px;
    min-height: 100px;
    border: 1px solid rgb(238, 127, 127);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    border-radius: 4px;
    cursor: pointer;
}

.email-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bold {
    font-weight: 200;
}

.unBold {
    font-weight: 1000;
}


/* .star {
    cursor: pointer;
} */

.star-fill {
    content: '⭐';
    cursor: pointer;
    /*  ★*/
}

.star-un-fill {
    /* content: '★'; */
    content: '☆';
    cursor: pointer;
}


/* content: '☆'; */