/* * {
    box-sizing: border-box;
    margin: 0px;
} */

.email-filter {
    /* min-width: 00px; */
    min-height: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 20px;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(245, 246, 247);
    font-size: 17px;
    box-shadow: 0 2px 5px #ccc;


}