* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-main {
    background-color: #8b8c91;
    min-height: 90vh;
}



/* APP */

.book-app {
    background-color: #dbdbdf;
    min-height: 90vh;
}


/* FILTER */

.book-filter {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #C5C6C7;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(136, 134, 134);
    padding: 10px;
  width: 100%;
}

/*LIST*/

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}


/*PREVIE*/

.book-preview-container {
    width: 300px;
    height: 350px;
    background-color: #82b3af;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    text-align: center;
}

img {
    width: 50%;
}


/*DETAILS*/

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #41B3A3;
    box-shadow: 0px 2px 7px 0px #45A29E;
    border-radius: 12px;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
}

.btn-close-details {
    width: 20px;
}

.authors-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.book-category-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* FOOTER */

footer {
    background-color: #1F2833;
    padding: 10px;
    text-align: center;
}


/*CLASSES*/

.red {
    color: red;
}

.green {
    color: green;
}