* {
    box-sizing: border-box;
    margin: 0px;
}


/* DETAILS */

.email-details {
    background-color: rgb(167, 187, 168);
    padding: 10px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-around; */
    font-size: 25px;
    min-height: 90vh;
    text-align: center;
}

.email-details h1 {
    margin-top: 15px;
}

.email-details h5 {
    margin-top: 15px;
}

.email-details p {
    margin-top: 15px;
}


/* .email-details pre {
    background-color: brown;
    padding: 3px;
    color: whitesmoke;
    font-size: 0.8em;
} */

@media screen and (max-width:700px) {
    .email-details {
        display: flex;
        flex-direction: column;
    }
}