
* {
    box-sizing: border-box;
    margin: 0px;
}

.keep-preview{
height: 200px;
    background-color: rgb(179, 119, 119);
    width: 200px;
}


ul{
    padding-left: 200px;
    
   
}

.keep-filter{

  padding: 10px;

}

.keep-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 5px;
}


/* 
.note-area {
    padding-left: 200px;
    position: absolute;
    width: 100%;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease-in, transform .2s ease-in;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(-30px);
  }
 */

