
* {
    box-sizing: border-box;
    margin: 0px;
}

.keep-preview{
height: 200px;
    background-color: rgb(191, 81, 212);
    width: 200px;
}


.keep-filter{
  margin-left: 120px;
background-color: rgb(228, 232, 238);
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  border-radius: 5px;

}

.keep-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 5px;

}







/* 
.note-area {
    padding-left: 200px;
    position: absolute;
    width: 100%;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease-in, transform .2s ease-in;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(-30px);
  }
 */


